<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="https://drive.google.com/file/d/1pCR_y3fFm_qDNsv8QXiTvvrVIXWa9LX3/view?usp=sharing">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ggandhi026@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/gg1998">Github</a></li>
				<li><a href="https://twitter.com/G_GANDHI1998">Twitter</a></li>
				<li><a href="https://www.linkedin.com/in/gaurav1998/">LinkedIn</a></li> 
				</ul>
			</footer>
		</body>
	</html>
